
#wrapper {
  width: 730px;
  height: 730px;
  margin: 0 auto;
  background-color: teal;
}

#gameBoard {
  width: 730px;
  height: 730px;
  background-color: black;
  border-radius: 365px;
  margin: 0 auto;
  margin-top: 150px;
  z-index: 1;
}

.colorButton {
  position: relative;
  height: 325px;
  width: 325px;
  margin: 30px;
  z-index: 2;
  float: left;
  overflow: hidden;
}

#greenButton {
  border-top-left-radius: 325px;
  background-color: green;
  margin-bottom: 10px;
  margin-right: 10px;

}
#greenButton:active {
  background: linear-gradient( 135deg, green 20%, lime );
}
#redButton {
  border-top-right-radius: 325px;
  background-color: red;
  margin-bottom: 10px;
  margin-left: 10px;
}
#redButton:active {
  background: linear-gradient( 225deg, red 20%, pink );
}

#yellowButton {
  border-bottom-left-radius: 325px;
  background-color: yellow;
  margin-top: 10px;
  margin-right: 10px;
}
#yellowButton:active {
  background: linear-gradient(45deg, yellow 20%, white);
}
#blueButton {
  border-bottom-right-radius: 325px;
  background-color: blue;
  margin-top: 10px;
  margin-left: 10px;
}
#blueButton:active {
  background: linear-gradient(315deg, blue 20%, skyblue);
}

.pokemonImage {
  width: 200px;
  height: 200px;
  overflow: hidden;
  z-index: -1;
}
#imageBulbasaur {
  position: relative;
  left: 20px;
  top: 10px;
}
#imageCharmander {
  position: relative;
  left: 40px;
  top: 40px;
}
#imagePikachu {
  position: relative;
  left: 10px;
  top: 80px;
}
#imageSquirtle {
  position: relative;
  left: 75px;
  top: 85px;
}


#controlPanel {
  height: 400px;
  width: 400px;
  background-color: #000;
  border-radius: 400px;
  position: relative;
  top: 165px;
  left: 165px;
  z-index: 3;
}

#controlPanelOverlay {
  height: 360px;
  width: 360px;
  background-color: #162129;
  border-radius: 360px;
  border: 5px solid gray;
  position: relative;
  top: 15px;
  left: 15px;
  z-index: 4;
}

#panelLabelMask {
  position: absolute;
  height: 175px;
  width: 360px;
  overflow: hidden;
  border-bottom: 5px solid gray;
  z-index: 9;
}

#panelLabelSection {
  position: absolute;
  height: 360px;
  width: 360px;
  background-color: orange;
  border-radius: 900px;
  z-index: 10;
}

#panelLabel {
  position: absolute;
  width: 350px;
  font-family: Orbitron, sans-serif;
  font-weight: 900;
  font-size: 3.4em;
  height: 350px;
  text-align: center;
  top: 130px;
  left: 5px;
  /* Change top and font-family/size to get better graphic. */
}

#buttonRow {
  position: absolute;
  text-align: center;
  width: 350px;
  top: 180px;
}

.buttonWell {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.optionButton {
  height: 40px;
  width: 40px;
  border: 5px solid black;
  border-radius: 100%;
}


#startButton {
  background-color: red;
}
#strictButton {
  background-color: yellow;
}
#resetButton {
  background-color: teal;
}

.optionButtonLabel {
  position: relative;
  top: 7px;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

#counterSection {
  position: absolute;
  text-align: center;
  width: 350px;
  height: 40px;
  top: 290px;
}

#counterDisplay {
  position: relative;
  color: white;
}

#sevenSegDisplay {
  height: 50px;
  width: 100px;
  margin-left: 10px;
  position: relative;
  display: inline-block;
}
