body {
  background-color: #BF1E2E;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

@font-face {
  font-family: PokemonText;
  src: url('../media/fonts/PokemonGB.ttf');
}
.poke-text {
  cursor: pointer;
  font-family: PokemonText;
  font-size: .8em;
}

#gameboard {
  background-color: black;
  border-radius: 365px;
  height: 730px;
  margin: 0 auto;
  margin-top: 100px;
  width: 730px;
  z-index: 1;
}

.color-btn {
  float: left;
  height: 325px;
  margin: 30px;
  overflow: hidden;
  position: relative;
  user-select: none;
  width: 325px;
  z-index: 2;
}

#green-btn {
  background-color: green;
  border-top-left-radius: 325px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#red-btn {
  background-color: darkred;
  border-top-right-radius: 325px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#yellow-btn {
  background-color: goldenrod;
  border-bottom-left-radius: 325px;
  margin-right: 10px;
  margin-top: 10px;
}

#blue-btn {
  background-color: darkblue;
  border-bottom-right-radius: 325px;
  margin-left: 10px;
  margin-top: 10px;
}

.pokemon-img {
  height: 200px;
  overflow: hidden;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 200px;
}
#img-bulbasaur {
  left: 20px;
  position: relative;
  top: 10px;
}
#img-charmander {
  left: 40px;
  position: relative;
  top: 40px;
}
#img-pikachu {
  left: 10px;
  position: relative;
  top: 80px;
}
#img-squirtle {
  left: 75px;
  position: relative;
  top: 85px;
}


#ctl-panel {
  background-color: #000;
  border-radius: 400px;
  height: 400px;
  left: 165px;
  position: relative;
  top: 165px;
  width: 400px;
  z-index: 3;
}

#ctl-panel-overlay {
  background-color: white;
  border-radius: 360px;
  border: 5px solid #222;
  height: 360px;
  left: 15px;
  position: relative;
  top: 15px;
  width: 360px;
  z-index: 4;
}

#panel-label-mask {
  border-bottom: 5px solid #222;
  height: 175px;
  overflow: hidden;
  position: absolute;
  width: 360px;
  z-index: 9;
}

#victory-section {
  color: white;
  left: 50px;
  position: absolute;
  top: 75px;
  z-index: 11;
}
#panel-label-section {
  background-color: #BF1E2E;
  border-radius: 900px;
  height: 360px;
  position: absolute;
  width: 360px;
  z-index: 10;
}

#panel-label {
  cursor: default;
  font-family: Orbitron, sans-serif;
  font-weight: 900;
  font-size: 3.4em;
  height: 350px;
  left: 5px;
  position: absolute;
  text-align: center;
  top: 130px;
  width: 350px;
}

#btn-row {
  left: 5px;
  position: absolute;
  text-align: center;
  top: 180px;
  width: 360px;
}

.btn-well {
  display: inline-block;
  margin: 20px;
  position: relative;
}

.option-btn {
  border: 3px solid black;
  border-radius: 100%;
  height: 25px;
  position: relative;
  width: 25px;
}

#start-btn {
  background-color: darkred;
}
#start-btn:active {
  background: radial-gradient(at 50%, pink 5%, red);
  border: 2px solid black;
  left: 1px;
}
#strict-btn {
  background-color: gold;
}
#strict-btn:active {
  border: 2px solid black;
  left: 1px;
}
#reset-btn {
  background-color: teal;
}
#reset-btn:active {
  background: radial-gradient(at 50%, skyblue 35%, teal);
  border: 2px solid black;
  left: 1px;
}

.option-btn-label {
  color: black;
  cursor: default;
  font-size: 1em;
  font-weight: bold;
  left: -5px;
  position: relative;
  top: 7px;
}

#counter-section {
  height: 40px;
  position: absolute;
  text-align: center;
  top: 290px;
  width: 350px;
}

#counter-display {
  position: relative;
}

#seven-seg-display {
  display: inline-block;
  height: 50px;
  margin-left: 10px;
  position: relative;
  width: 100px;
}

#pokeball-corner {
  background: url('../media/images/pokeball_corner.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  height: 400px;
  left: 0;
	overflow: hidden;
  position: fixed;
  width: 400px;
  z-index: -1;
}

#pokeball1 {
  background: url('../media/images/pokeball_background.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
	overflow: hidden;
  position: absolute;
  right: 120px;
  top: 30px;
  width: 200px;
  z-index: -1;
}


/* About modal CSS */
#my-about {
  bottom: 5px;
  left: 175px;
  position: fixed;
}

a, a:visited{
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


.modal {
  background-color: rgba(0,0,0,0.9);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
}

/* Close Button */
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.modal-content {
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: animatetop;
  animation-duration: .4s;
  animation-name: animatetop;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin: auto;
  padding: 0;
  position: relative;
  width: 50%;
}

.modal-header {
  background-color: #BF1E2E;
  color: white;
  height: 50px;
  padding: 2px 16px;
  text-align: center;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  background-color: #BF1E2E;
  height: 20px;
}
